{
    "extends": "@adobe/eslint-config-aio-lib-config",
    "globals": {
      "createFileSystem": true,
      "clearMockedFs": true,
      "fixtureFile": true,
      "fixtureFileWithTimeZoneAdjustment": true,
      "fixtureJson": true,
      "fixtureZip": true,
      "createTestBaseFlagsFunction": true,
      "createTestFlagsFunction": true
    }
}