{
    "extends": "@adobe/eslint-config-aio-lib-config",
    "globals": {
      "fixtureFile": true,
      "fixtureFileWithTimeZoneAdjustment": true,
      "fixtureJson": true,
      "fixtureZip": true,
      "fakeFileSystem": true,
      "createTestBaseFlagsFunction": true,
      "createTestFlagsFunction": true
    },
    "rules": {
      "jsdoc/tag-lines": [
          // The Error level should be `error`, `warn`, or `off` (or 2, 1, or 0)
          "error",
          "never",
          {
            "startLines": null
          }
      ]
    }
}